.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.5);
}
.modal {
  z-index: 2;
  padding: 1.2rem;
  background: #fff;
  margin-top: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
p {
  margin: 0;
  margin-bottom: 5px;
}
input {
  margin-bottom: 15px;
}
.closeBtn {
  position: absolute;
  right: 5px;
  top: 5px;
}
